[Desktop Entry]
Name=Days Gone
Comment=Play this game on Steam
Exec=steam steam://rungameid/1259420
Icon=steam_icon_1259420
Terminal=false
Type=Application
Categories=Steam;
