[Desktop Entry]
Name=Ghost of Tsushima DIRECTOR'S CUT
Comment=Play this game on Steam
Exec=steam steam://rungameid/2215430
Icon=steam
Terminal=false
Type=Application
Categories=Game;
