[Desktop Entry]
Name=Hollow Knight
Comment=Play this game on Steam
Exec=steam steam://rungameid/367520
Icon=steam
Terminal=false
Type=Application
Categories=Game;
