[Desktop Entry]
Name=Horizon Forbidden West™ Complete Edition
Comment=Play this game on Steam
Exec=steam steam://rungameid/2420110
Icon=steam
Terminal=false
Type=Application
Categories=Game;
