[Desktop Entry]
Name=Icarus
Comment=Play this game on Steam
Exec=steam steam://rungameid/1149460
Icon=steam
Terminal=false
Type=Application
Categories=Game;
