[Desktop Entry]
Name=METAL GEAR SOLID V: THE PHANTOM PAIN
Comment=Play this game on Steam
Exec=steam steam://rungameid/287700
Icon=steam_icon_287700
Terminal=false
Type=Application
Categories=Steam;
