[Desktop Entry]
Name=Once Human
Comment=Play this game on Steam
Exec=steam steam://rungameid/2139460
Icon=steam_icon_2139460
Terminal=false
Type=Application
Categories=Steam;
