[Desktop Entry]
Name=SurrounDead
Comment=Play this game on Steam
Exec=steam steam://rungameid/1645820
Icon=steam
Terminal=false
Type=Application
Categories=Game;
