[Desktop Entry]
Name=Warhammer 40,000: Space Marine 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/2183900
Icon=steam_icon_2183900
Terminal=false
Type=Application
Categories=Steam;
