#!/bin/bash

# go path
export PATH=$PATH:/usr/local/go/bin
export ZDOTDIR=$HOME/.config/zsh

xrandr --output HDMI-0 --off --output DP-0 --off --output DP-1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DP-2 --off --output DP-3 --off --output DP-4 --off --output DP-5 --off
xrandr --output HDMI-0 --mode 1920x1080 --pos 1920x0 --rotate inverted --output DP-0 --off --output DP-1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DP-2 --off --output DP-3 --off --output DP-4 --off --output DP-5 --off

# Autostart
mailspring --background &
discord --start-minimized &
dropbox &
dunst &
lxsession &
nitrogen --restore &
picom -f &
