#!/bin/bash

# Paths
export PATH=$PATH:/usr/local/go/bin
export ZDOTDIR=$HOME/.config/zsh

# Configire Displays
xrandr --output HDMI-0 --off --output DP-0 --off --output DP-1 --off --output DP-2 --off --output DP-3 --mode 1920x1080 --pos 1920x0 --rotate normal --output DP-4 --off --output DP-5 --primary --mode 1920x1080 --pos 0x0 --rotate normal

# Autostart
mailspring --background &
discord --start-minimized &
dropbox &
dunst &
lxsession &
nitrogen --restore &
picom -b --animations --animation-window-mass 0.5 --animation-for-open-window zoom --animation-stiffness 350 &
