[Desktop Entry]

Type=Application
Version=1.0
Name=Wild Magic Table
Comment=Barbarian Wild Magic Table
Exec=/home/john/myrepo/my-apps/wild-magic-table
Icon=
Terminal=false
Categories=Utility;
