#!/bin/bash

# Paths
export PATH=$PATH:/usr/local/go/bin
export ZDOTDIR=$HOME/.config/zsh

# Configire Displays
xrandr --output eDP-1 --mode 1920x1200

xsetroot -cursor_name left_ptr &
setxkbmap -option ctrl:swapcaps
libinput-gestures-setup start

# Autostart
mailspring --background --password-store="gnome-libsecret" &
discord --start-minimized --disable-gpu &
dropbox &
spotifyd &
dunst &
lxsession &
xfce4-power-manager &
nitrogen --restore &
picom -b --animations --animation-window-mass 0.5 --animation-for-open-window zoom --animation-stiffness 350 &
