[Desktop Entry]

Type=Application
Name=PCSX2
Comment=PS2 Emulator
Exec=/home/john/apps/pcsx2.AppImage
Icon=/home/john/apps/icons/pcsx2.png
Terminal=false
Categories=Game;
