[Desktop Entry]

Type=Application
Name=Xephyr Awesome
Comment=Run Awesome in Xephyr
Exec=Xephyr :5 & sleep 1 ; DISPLAY=:5 awesome
Icon=
Terminal=false
Categories=Utility;
