[Desktop Entry]

Type=Application
Version=1.0
Name=Yazi
Comment=A Tui File Manager
Exec=wezterm start --class="__yazi" yazi
Icon=
Terminal=false
Categories=Utility;
