@theme "/home/john/.config/rofi/themes/custom.rasi"
configuration {
  modes: "drun,filebrowser";
  filebrowser {
    directory: "/home/john/";
    sorting-method: "name";
    directories-first: true;
    show-hidden: true;
    cancel-returns-1: true;
    command: "xdg-open";
  }
}
