* {
		background:     #1e1e2e;
    background-alt: #494d64;
    foreground:     #cad3f5;
    selected:       #8aadf4;
    active:         #f5bde6;
    urgent:         #ed8796;
    border:         #494d64;
}
