[Desktop Entry]

Type=Application
Version=1.0
Name=Configs
Comment=Edit Configs
Exec=/home/john/myrepo/myscripts/launchers/configs.sh
Icon=
Terminal=false
Categories=Utility;
