[Desktop Entry]

Type=Application
Version=1.0
Name=LazyGit
Comment=Git Tui
Exec=/home/john/myrepo/myscripts/launchers/launcher.sh lazygit
Icon=
Terminal=false
Categories=Utility;
