[Desktop Entry]

Type=Application
Version=1.0
Name=Notes
Comment=Notes Menu
Exec=/home/john/myrepo/myscripts/launchers/notes.sh
Icon=
Terminal=false
Categories=Utility;
