[Desktop Entry]

Type=Application
Version=1.0
Name=Spotify
Comment=Launch Spotify
Exec=/home/john/myrepo/myscripts/launchers/spotify.sh
Icon=
Terminal=false
Categories=Utility;
