[Desktop Entry]

Type=Application
Version=1.0
Name=Virtual Machines
Comment=List Virtual Machines
Exec=/home/john/myrepo/myscripts/launchers/vm.sh
Icon=
Terminal=false
Categories=Utility;
